body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: auto; */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.user-name {
  color: white;
  font-size: 14px;
}
.nav {
  background-color: #242526;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  top: 0;
  width: 100%;
  padding-bottom: 1rem;
}
.nav-wrapper {
  height: 170vh;
  overflow-y: scroll;
  position: fixed;
  width: 293px;
  /* z-index: -3; */
  overflow-x: hidden;
  opacity: 0;
  left: 0;
}
.sub-menu {
  top: 10;
  width: 280px;
  /* height: 620vh; */
  height: 200%;
  right: 0;

  display: fixed;
  justify-content: center;
  display: flex;
  background-color: #242526;
  z-index: 10;
  position: absolute;
  transition: 900ms;
  left: -100%;
  letter-spacing: 3px;
  font-weight: bold;
  /* overflow: scroll; */
  margin: 0;
  /* overflow-x: hidden; */
}
.active {
  left: 0;
  transition: 450ms;
  opacity: 1;
}
.active-wrapper {
  opacity: 1;
  transition: 450ms;
  z-index: 2;
}

.icon {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 50px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  /* border: 4px solid #632ce4; */
}
.icon:hover {
  background-color: #3b3d42;
  /* background-color: grey; */
}

.link-icon {
  font-size: 18px;
}

.drop-down-link {
  /* background-color: #1e2846; */
  background-color: rgb(86, 86, 96);

  height: 60px;
  padding-left: 3rem;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  display: flex;
  color: white;
}
.drop-down-link:hover {
  background-color: #767d86;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10;
}

.header {
  background-color: rgb(73, 71, 71);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  color: white;
  cursor: pointer;
}
.pic {
  height: 500px;
  width: 800px;
}
.sofa-intro {
  background-image: url("https://cdn.pixabay.com/photo/2021/10/22/00/59/restaurant-6730811_1280.jpg");
  height: 60%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-top {
  width: 100%;
  height: 10%;
}
.pic-small {
  height: 300px;
  width: 600px;
  transition: 900ms;
  transition-delay: 1s;
}

.product {
  padding-top: 2rem;
  padding-left: 1rem;
  display: flex;
  background-color: transparent;
  height: 400px;
}
.filter-select {
  width: 170px;
  height: 180px;
  background-color: rgb(224, 223, 223);
  display: fixed;
  z-index: 99;
  margin-top: -0.6rem;
  margin-right: 4rem;
  box-shadow: 0px 10px 10px #a8b2b2;
  opacity: 0;
  letter-spacing: 2px;
}
.filter-list {
  width: 100%;
  padding-bottom: 1rem;
}
.filter-list:hover {
  padding-top: 1rem;
  background-color: rgb(133, 133, 129);
  display: relative;
}
.active-select {
  opacity: 1;
}
.filter {
  height: 8%;
  width: 100%;
  float: right;
  background-color: rgb(224, 223, 223);
  margin-top: 2rem;
  display: grid;
  justify-content: right;
  box-shadow: 0px 10px 10px #a8b2b2;
}
.item-desc-header {
  display: absolute;
  color: gray;
  font-weight: bolder;
  letter-spacing: 2px;
}
.item-desc-header:hover {
  color: green;
}
.pic-big {
  height: 70%;
  width: 60%;
  padding-left: 2rem;
}
.line {
  margin-top: 1%;
  border-bottom: solid 0.1px rgb(243, 237, 237);
  width: 95%;
  display: flex;
  margin-left: 2rem;
}
.top-section {
  width: 100%;
  height: 100px;
  display: flex;
  /* border: 0.2rem solid black; */
}
.heart {
  padding-right: 1rem;
  font-size: 20px;
  cursor: pointer;
  height: 90px;

  display: flex;
  justify-content: center;
}
.btn {
  width: 10rem;
  height: 2.4rem;
  color: white;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 4px;
  border-style: none;
  background-color: rgb(21, 83, 21);
}
.heart-fill {
  padding-top: 2rem;
  color: red;
  padding-right: 1rem;
}
.heart-void {
  padding-top: 2rem;

  color: grey;
  padding-right: 1rem;
}
.pic-smallest {
  height: 100px;
  width: 150px;
}

.line-small {
  margin-top: 1%;
  border-bottom: solid 0.2px rgb(214, 207, 207);
  width: 61%;
  display: flex;
  margin-left: 2rem;
}

.line-wide {
  margin-top: 5%;
  border-bottom: solid 4px rgb(241, 236, 236);
  width: 98%;
  display: flex;
  margin-left: 1rem;
}
/* .wrapper {
  width: 300px;
  overflow-y: auto;
  position: absolute;
  height: 100px;
  float: right;
} */
.sub-cart {
  width: 400px;
  /* height: 300vh; */
  height: 100%;
  justify-content: center;
  top: 0;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  position: fixed;
  transition: 900ms;
  right: -100%;
  z-index: 2;
  letter-spacing: 3px;
  font-weight: bold;
  box-shadow: 0px 10px 18px #8cbbd4;
  cursor: pointer;
  padding-left: 1rem;
  padding-bottom: 2rem;
  overflow: auto;
}

.active-cart {
  right: 0;
  transition: 900ms;
}

li {
  list-style: none;
}

.modal-small {
  height: 300px;
  width: 300px;
  box-shadow: 5px 10px 18px #8cbbd4;
  position: fixed;
  top: 20%;
  background-color: rgb(248, 247, 243);
  right: 40%;
  text-align: center;
}

.modal-big {
  height: 400px;
  width: 800px;
  box-shadow: 5px 10px 18px #8cbbd4;
  position: fixed;
  top: 20%;
  background-color: rgb(255, 255, 255);
  right: 20%;
  text-align: center;
}
.cart-main {
  background-color: rgb(248, 245, 244);
  height: auto;
  width: 100%;
  /* margin-top: -1rem; */
  display: flex;
  padding-bottom: 2rem;
  min-height: 80vh;
}
.cart-details {
  width: 65%;
  height: 100%;
  min-height: 430px;
  display: inline-block;
  background-color: white;
  margin-left: 6rem;
  margin-right: 3rem;
  margin-top: 4rem;
  box-shadow: 0px 10px 18px #c7d0d6;
  min-height: 80vh;
}
.cart-summary {
  width: 35%;
  height: 80vh;
  display: inline-block;
  background-color: white;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 4rem;
  /* border: 0.1rem solid black; */
  padding-left: 1rem;
  box-shadow: 0px 10px 18px #b8bcbe;
  letter-spacing: 3px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-load {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 10rem;
}

.span-load {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: rgb(192, 96, 41);
  border-radius: 50%;
}
.container-shop {
  position: relative;
  height: 400px;
  width: 50%;
  display: inline-block;
  /* border: 0.2rem solid black; */
  cursor: pointer;
}
.image {
  display: block;
  height: 400px;
  width: 100%;
  cursor: pointer;
}
.overlay {
  position: absolute;
  transition: all 0.6s ease;
  opacity: 0;
  /* background-color: grey; */
  background-color: rgb(243, 240, 240);
}
.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.overlayLeft {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;

  /* background-color: rgb(197, 195, 189); */
  background-color: rgb(240, 238, 238);
}
.container-shop:hover .overlayLeft {
  width: 100%;
}

.container-shop:hover .overlay {
  opacity: 1;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid rgb(255, 255, 255);
  position: absolute;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid rgb(255, 255, 255);
  position: absolute;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid rgb(255, 255, 255);
  position: absolute;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(255, 255, 255);

  position: absolute;
}
.look-item {
  background-color: white;
  height: 4rem;
  width: 20rem;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  display: flex;
}
.active {
  opacity: 1;
  transition: 1s;
}
.look-pic {
  height: 50px;
  width: 100px;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.card {
  width: 385px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* background-color: rgb(102, 102, 89); */
  /* background-color: rgb(120, 125, 126);
  background-color: rgb(77, 96, 100); */

  color: rgb(255, 255, 255);
  position: relative;
  cursor: grabbing;
  box-shadow: 0 2px 7px 3px rgb(199, 192, 192);
}
.card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* border-top-right-radius: 20px; */
  border-radius: 20px;
  min-height: 100%;
  min-width: 100%;
}

.circle {
  /* background-image: url("https://m.media-amazon.com/images/I/71LjpkLWzcL._AC_SL1080_.jpg"); */

  position: absolute;
  width: 350px;
  height: 350px;
  top: -4.2em;
  right: -10em;
  z-index: 5;
  border-radius: 50%;

  /* background-color: rgb(126, 229, 195); */
}

.upper-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1.2;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}
.lower-cont {
  display: flex;
  padding: 0 1em;
  flex: 0.8;
}

.card-text {
  z-index: 10;
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  color: rgb(255, 255, 255);
}
.furn-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.furn {
  width: 100%;
  /* z-index: 9999; */
  height: 190px;
  user-select: none;
  margin-right: 3em;
  margin-top: 4em;
}
.furn > img {
  height: 100%;
  z-index: 9999;
  position: relative;
  user-select: none;
}

.card-anime {
  width: 100%;
  perspective: 2000;
  display: flex;
  justify-content: center;
  width: 30%;
  margin-right: 2rem;
}

.fav-second {
  background-color: rgb(236, 232, 232);
  width: 100%;
  height: 100px;
}
.fav-top {
  height: 100%;
  width: 100%;
  display: flex;
}
.fav-left {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/12/09/189005/f98620f20e2376864e012198f7f8e9a3.jpg");

  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgb(84, 74, 74);
  letter-spacing: 3px;
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 5vh;
}
.fav-right {
  width: 40%;
  height: 97.3%;
  /* background-color: rgb(241, 239, 233); */
}
.fav-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.sub-section {
  width: 100%;
  height: 300px;
  background-color: rgb(47, 46, 46);
  color: white;
  display: flex;
}
.sub-cont {
  background-color: rgb(246, 243, 243);
  height: 490px;
  width: 100%;
  display: flex;
  letter-spacing: 3px;
}
.sub-img {
  width: 70%;
  height: 100%;
  /* background-image: url("https://images.pexels.com/photos/5696273/pexels-photo-5696273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-image: url("https://cdn-cms-assets.article.com/1yHVuqoF8kUXuOFmjsKfMm-3efdfea64530104da2676e02454c0335?w=2600&q=60&fm=webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.success-msg {
  height: 1rem;
  color: rgb(36, 31, 31);
  width: 100%;
  background-color: rgb(197, 231, 197);
}

.most-loved-cont {
  background: linear-gradient(to right, #333, #333 50%, #eee 100%, #333 75%);
  display: flex;
  text-align: center;
  min-height: 70vh;
  width: 100%;
}

.main-cont {
  flex-grow: 1;
  /* background: linear-gradient(to right, #333, #333 50%, #eee 100%, #333 75%); */
  background-image: linear-gradient(
    to right top,
    #e3e5ed,
    #c0d0d9,
    #9fbbbc,
    #8ba597,
    #848c71
  );
  /* background-image: linear-gradient(
    to right top,
    #e3e5ed,
    #a3aaad,
    #6b7171,
    #3a3c3b,
    #0c0c0b
  ); */
  /* background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #c3c1c2,
    #8a8788,
    #555250,
    #24221f
  ); */
  padding-top: 5rem;
  margin: 0 auto;
  /* padding: 0 32px; */
  position: relative;
  width: auto;
  height: 70%;
  /* width: 800px; */
}
.three-bg {
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #c3c1c2,
    #8a8788,
    #555250,
    #24221f
  );
}
.single {
  width: 100%;
  position: fixed;
  display: fixed;
  overflow: hidden;
  height: 600px;
}
.big-modal {
  height: 550px;
  width: 310%;
  box-shadow: 5px 10px 18px #bdd7c3;
  position: fixed;
  top: -2.5%;
  background-color: rgb(255, 255, 255);
  /* left: 1%; */
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f8fbfe,
    #eef7fc,
    #e3f4f6,
    #dcf1eb
  );
}
